<!-- <div class="container form-group">

  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Inserisci il tuo nome" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cognome</mat-label>
    <input matInput placeholder="Inserisci il tuo cognome" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Inserisci la tua email" required>
  </mat-form-field>

  <mat-card class="demo-inline-calendar-card">
  <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>
<p>Selected date: {{selected}}</p>

</div> -->
<!-- <div>

  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>




</div> -->
