<div class="container">

  <div class="row" *ngFor="let prodotto of wishlist">
    <div class="prodottoExpand my-4">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{prodotto.nome}}</mat-panel-title>
          <mat-panel-description>
            Clicca per maggiori dettagli
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex align-items-center">
          <img [src]="prodotto.img" alt="" class="w-50" />
          <ul>
            <li>prezzo/kg: {{prodotto.prezzo}}€</li>
            <li>disponibilità: {{prodotto.disponibilita}}</li>
          </ul>
        </div>
        <p class="my-2">{{prodotto.descrizione}}</p>
        <button mat-fab extended color="warn" class="w-100 rounded-pill" (click)="removeItemFromWishlist(prodotto)">
          <mat-icon>thumb_down</mat-icon>
          Rimuovi dalla wishlist
        </button>
      </mat-expansion-panel>
    </div>
  </div>


</div>
