<app-spinner *ngIf="!loaded"></app-spinner>

<div *ngIf="loaded">
  <div class="container">
    <div class="row" *ngFor="let prodotto of wishlist">
      <div class="prodottoExpand my-4">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ prodotto.nome }}</mat-panel-title>
            <mat-panel-description class="dettagli">
              Clicca per maggiori dettagli
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="d-flex align-items-center">
            <img [src]="prodotto.img" alt="" />
            <ul>
              <li>prezzo/kg: {{ prodotto.prezzo }}€</li>
              <li>
                {{ prodotto.disponibilita ? "Disponibile" : "Non disponibile" }}
              </li>
            </ul>
          </div>
          <p class="my-2">{{ prodotto.descrizione }}</p>
          <div class="bottoni">
            <button
              mat-raised-button
              color="warn"
              class="rounded-pill"
              (click)="removeItem(prodotto)"
            >
              <i class="material-icons">thumb_down</i>
              Rimuovi dalla wishlist
            </button>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
    <div id="vuoto">
      <div *ngIf="loggedIn && wishlist.length === 0" class="text-center my-4">
        Aggiungi i tuoi prodotti preferiti alla wishlist da
        <a [routerLink]="'/prodotti'">qui!</a>
      </div>

      <div *ngIf="!loggedIn" class="text-center my-4">
        <a [routerLink]="'/signup'">Registrati</a> e aggiungi i tuoi prodotti
        preferiti per visualizzarli in questa pagina!
      </div>
    </div>
  </div>
</div>
