
<app-spinner *ngIf="!loaded"></app-spinner>

<div *ngIf="loaded">

<div class="container-fluid my-3">

  <h1 class="display-2">Chi siamo:</h1>

  <img src="https://picsum.photos/id/684/600/400?blur=4" alt="" />

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis distinctio dolorem veniam, quod magni odit! Odit dolorem nemo vitae? Commodi alias a cupiditate repudiandae quam eaque sint modi, maxime expedita!
  Dolore alias rerum temporibus magnam mollitia eius recusandae reprehenderit dicta accusamus cumque eos, vitae delectus vero architecto? Dignissimos nisi dolorum ratione delectus praesentium laborum corrupti cupiditate ab? Error, itaque praesentium?</p>

  <img src="https://picsum.photos/id/684/600/400?blur=4" alt="" />

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis distinctio dolorem veniam, quod magni odit! Odit dolorem nemo vitae? Commodi alias a cupiditate repudiandae quam eaque sint modi, maxime expedita!
  Dolore alias rerum temporibus magnam mollitia eius recusandae reprehenderit dicta accusamus cumque eos, vitae delectus vero architecto? Dignissimos nisi dolorum ratione delectus praesentium laborum corrupti cupiditate ab? Error, itaque praesentium?</p>


</div>
</div>
