<app-spinner *ngIf="!loaded"></app-spinner>

<div *ngIf="loaded">
  <div class="container-fluid my-3">
    <h1 class="display-2 animate__animated animate__rotateInUpRight">Chi siamo:</h1>
    <div id="contenitore">
      <img
        src="../../assets/paesaggio_campora1.jpg"
        alt="paesaggio vista nord"
        id="img1"
        class="imgWho"
      />

      <p class="testoWho">
        L'azienda agricola Naccarato nasce dall'amore per la terra e dalla
        passione per la coltivazione di prodotti di alta qualità. Situata in
        località Marano, a Campora San Giovanni, nella splendida provincia di
        Cosenza, la nostra azienda si dedica alla produzione di olio d'oliva, limoni,
        avocado e fichi.
      </p>

      <p class="testoWho">
        Ci impegniamo ogni giorno a garantire che i nostri prodotti siano
        freschi e genuini. Coltiviamo con cura e dedizione ogni pianta,
        utilizzando solo tecniche di coltivazione sostenibili e rispettando
        l'ambiente circostante.
      </p>

      <img
        src="../../assets/vista.jpg"
        alt="paesaggio vista sud"
        id="img2"
        class="imgWho"
      />

      <p class="testoWho">
        La nostra filosofia è quella di offrire ai nostri clienti prodotti di
        altissima qualità, frutto del nostro impegno e della nostra esperienza.
        Siamo sempre pronti ad accogliere i visitatori nella nostra azienda, per
        farvi scoprire il nostro mondo e farvi assaggiare i nostri prodotti.
      </p>

      <p class="testoWho">
        Siamo convinti che il nostro lavoro sia un'enorme responsabilità nei
        confronti dell'ambiente e delle persone che ne beneficiano. Per questo,
        puntiamo sempre sulla sostenibilità e sulla cura del territorio che ci
        circonda.
      </p>
      <div id="imgs3">
        <img
          src="../../assets/limoni_albero.jpg"
          alt="albero limoni"
          class="imgWho img34"
        />
        <img
          src="../../assets/avocado_cassetta.jpg"
          alt="cassetta avocado"
          class="imgWho img34"
        />
      </div>
      <p class="testoWho">
        Venite a trovarci e lasciatevi conquistare dai sapori autentici della
        nostra terra!
      </p>
    </div>
  </div>
</div>
