/* Stili di base */
div {
  background-color: #7c1ca4;
  color: white;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
}

div p {
  margin: 0;
}

div hr {
  border: none;
}

a {
  color: white;
  text-decoration: underline;
}


@media screen and (min-width: 768px) {
  div {
    font-size: 18px;
    padding: 30px;
  }
}
