section{
margin: 1em 0;
}

.card{
  border: none;
  background: none;
}

.card-title{
  text-align: center;
}
.carousel-item{
  img{
    height: 40vh;
  }
}

#prenota{
  background-color: #64eabd;
  height: 29vh;
  display: flex;
  align-items: center;
  color: black;
    a{
      color:black;
    }
}

#storia{
  display: inline-flex;
}

#imgStoria{
  width: 45%;
  height: 85%;
  float: right;
}

.prodotto{
  img{
    width: 40vw;
    height: 25vh;
  }
}




