.card{
  border: none;
  background: none;
}

.card-title{
  text-align: center;
}

#prenota{
  background-color: #64eabd;
  height: 29vh;
  display: flex;
  align-items: center;
  color: black;
    a{
      color:black;
    }
}

#imgStoria{
  width: 47%;
  height: 100%;
  float: right;
}





