<div class="container my-2 text-center d-flex justify-content-center">
  <div class="row">
    <div class="prodottoShop my-2 col-12 col-md-6 flex-column">
      <img
        src="https://picsum.photos/id/189/400/400"
        alt=""
        class="rounded-circle"
      />
      <p class="my-2">Avocado, 10€/kg</p>
      <p class="my-2"></p>
      <p class="my-2">disponibi / non disponibili</p>

      <mat-form-field appearance="fill">
        <mat-label>Seleziona la quantità</mat-label>
        <mat-select>
          <mat-option value="option">2kg</mat-option>
          <mat-option value="option">5kg</mat-option>
          <mat-option value="option">10kg</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="mx-2">add_shopping_cart</mat-icon>
    </div>
    <div class="prodottoShop my-2 col-12 col-md-6 flex-column">
      <img
        src="https://picsum.photos/id/189/400/400"
        alt=""
        class="rounded-circle"
      />
      <p class="my-2">Avocado, 10€/kg</p>
      <p class="my-2"></p>
      <p class="my-2">disponibi / non disponibili</p>

      <mat-form-field appearance="fill">
        <mat-label>Seleziona la quantità</mat-label>
        <mat-select>
          <mat-option value="option">2kg</mat-option>
          <mat-option value="option">5kg</mat-option>
          <mat-option value="option">10kg</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="mx-2">add_shopping_cart</mat-icon>
    </div>
    <div class="prodottoShop my-2 col-12 col-md-6 flex-column">
      <img
        src="https://picsum.photos/id/189/400/400"
        alt=""
        class="rounded-circle"
      />
      <p class="my-2">Avocado, 10€/kg</p>
      <p class="my-2"></p>
      <p class="my-2">disponibi / non disponibili</p>

      <mat-form-field appearance="fill">
        <mat-label>Seleziona la quantità</mat-label>
        <mat-select>
          <mat-option value="option">2kg</mat-option>
          <mat-option value="option">5kg</mat-option>
          <mat-option value="option">10kg</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="mx-2">add_shopping_cart</mat-icon>
    </div>
    <div class="prodottoShop my-2 col-12 col-md-6 flex-column">
      <img
        src="https://picsum.photos/id/189/400/400"
        alt=""
        class="rounded-circle"
      />
      <p class="my-2">Avocado, 10€/kg</p>
      <p class="my-2"></p>
      <p class="my-2">disponibi / non disponibili</p>

      <mat-form-field appearance="fill">
        <mat-label>Seleziona la quantità</mat-label>
        <mat-select>
          <mat-option value="option">2kg</mat-option>
          <mat-option value="option">5kg</mat-option>
          <mat-option value="option">10kg</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="mx-2">add_shopping_cart</mat-icon>
    </div>
  </div>
</div>
