li {
  list-style: none;
}

.logout{
  color: #7b1fa2 ;
}

#sideNav {
  height: 88vh;
  width: 35vw;
  padding: 1vh 0;
  a{
    color: white;

  }a:hover{
      color: aquamarine;
    }
}

.contenitore{
  min-height: 83vh;
}

#infoUserNav{
  position: absolute;
  right: 0;
  font-size:0.9rem;
}
#logins{
  display: flex;
  position: absolute;
  right: 1em;
  color: #7b1fa2;
  opacity: 65%;
  a{
    color: #7b1fa2;

  }a:hover{
      color: #f0f0f0;
    }
}

