
<mat-toolbar color="accent">
  <mat-toolbar-row id="nav">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1 class="mx-3">Logo</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="mx-5" mode="side" id="sideNav">
    <ul>
      <li><a mat-list-item [routerLink]="'/'"> Home </a></li>
      <li><a mat-list-item [routerLink]="'/chiSiamo'"> Chi Siamo </a></li>
      <li><a mat-list-item [routerLink]="'/prodotti'"> Prodotti </a></li>
      <li><a mat-list-item [routerLink]="'/shop'"> Shop </a></li>
      <li><a mat-list-item [routerLink]="'/prenotaVisita'"> Vieni a trovarci! </a></li>
      <li><a mat-list-item [routerLink]="'/doveSiamo'"> Dove siamo </a></li>
      <li><a mat-list-item [routerLink]="'/login'"> Login/Signup </a></li>
      <li><a mat-list-item [routerLink]="'/wishlist'"> Wishlist </a></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="contenitore">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

