<mat-toolbar color="accent">
  <mat-toolbar-row id="nav">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <img src="../../assets/logozz.png" alt="logo">
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
      <div id="infoUserNav">
        <span class="mr-2">{{ (currentUser$ | async)?.username }}</span>
        <button mat-icon-button (click)="logout()" class="logout">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-template #notLoggedIn>
      <div id="logins">
        <span *ngIf="!(currentUser$ | async)">
          <a mat-list-item [routerLink]="'/login'">Login </a>
        </span>
        <span *ngIf="!(currentUser$ | async)"> - </span>
        <span *ngIf="!(currentUser$ | async)">
          <a mat-list-item [routerLink]="'/signup'"> Signup</a>
        </span>
      </div>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="mx-5" mode="side" id="sideNav">
    <ul>
      <li><a mat-list-item [routerLink]="'/'"> Home </a></li>
      <li><a mat-list-item [routerLink]="'/chiSiamo'"> Chi Siamo </a></li>
      <li><a mat-list-item [routerLink]="'/prodotti'"> Prodotti </a></li>
      <li><a mat-list-item [routerLink]="'/shop'"> Shop </a></li>
      <li>
        <a mat-list-item [routerLink]="'/prenotaVisita'"> Vieni a trovarci! </a>
      </li>
      <li><a mat-list-item [routerLink]="'/doveSiamo'"> Dove siamo </a></li>
      <li><a mat-list-item [routerLink]="'/wishlist'"> Wishlist </a></li>
      <li><a mat-list-item [routerLink]="'/carrello'"> Carrello </a></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="contenitore">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
