nav{
position: sticky;
top: 0;
}

li {
  list-style: none;
}

#sideNav {
  height: 88vh;
  width: 35vw;
  padding: 1vh 0;
}

a{
  color: white;

}a:hover{
    color: aquamarine;
  }

.contenitore{
  min-height: 83vh;
}
