<div class="container-fluid">
<div class="prodottoExpand" class="my-4" *ngFor="let p of prodotti">
  <mat-expansion-panel
    (nascondere)="panelOpenState = true"
    (visualizzare)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{p.nome}} </mat-panel-title>
      <mat-panel-description class="dettagli">
        Clicca per maggiori dettagli
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="d-flex align-items-center">
      <img src="{{p.img}}" alt=""/>
      <ul>
        <li>prezzo: {{p.prezzo}}€ </li>
        <li>disponibilità:  </li>
      </ul>
    </div>
    <p class="my-2"><mat-icon>description</mat-icon>{{p.descrizione}}</p>
    <p class="my-2"><mat-icon>storage</mat-icon>{{p.condizioni_conservazione}}</p>
    <p class="my-2"><mat-icon>lightbulb</mat-icon>{{p.suggerimenti_uso}}</p>

    <button mat-raised-button color="primary" *ngIf="isLoggedIn() && !isInWishlist(p)"
    (click)="addToWishlist(p)">Aggiungi alla wishlist</button>

  <button mat-raised-button color="warn" *ngIf="isLoggedIn() && isInWishlist(p)"
    (click)="removeFromWishlist(p)">Rimuovi dalla wishlist</button>


  </mat-expansion-panel>
</div>
</div>
